/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1.0em;
}

.center-title {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.0em;
}

header {
  border-bottom: 1px solid gray;
  background-color: white;
}

.header-icon {
  width: 50px;
  height: 50px;
}

footer {
  border-top: 1px solid gray;
}

.form-control {
  margin-bottom: 15px;
}

input {
  width: 100%;
  height: auto !important;
}

.btn {
  width: 100%;
  margin-bottom: 15px;
}

.content-space {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
}